
<div class="container">
  <div class="row">
    <button type="button" class="btn btn-default col-md-3 tooltip-button" appTooltip="하이" placement="left">Tooltip</button>
    <button type="button" class="btn btn-default col-md-3 tooltip-button" appTooltip="하이" placement="top">Tooltip</button>
    <button type="button" class="btn btn-default col-md-3 tooltip-button" appTooltip="하이" placement="bottom">Tooltip</button>
    <button type="button" class="btn btn-default col-md-3 tooltip-button" appTooltip="하이" placement="right">Tooltip</button>
  </div>
</div>
